/*variáveis*/
:root{
  --vermelho: #E50914; 
  --preta: #141414;
}

/*reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*elementos base*/
body {
  background: var(--preta);
  font-family: 'Times New Roman', Times, serif;
  color: white; 
}
/*seletores*/
header .container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .logo{
  margin-left: 5px;
  color: var(--vermelho);
  font-family: Arial Black;
  font-size: 40px; 
}

header nav a{
  text-decoration: none;
  color: #AAA;
  margin-right: 10px;
}

/*listener hover para mudar cor dos A de navs */
header nav a:hover{
    color:#fff;
}

/*filme principal*/
.filme-principal {
  font-size: 16px;
  /*camada gradiente escura*/
  background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('../img/capa-house.jpg');
  
  height: 400px;
  background-size: cover;
  /*em linha*/
  display: flex;
  /*em coluna*/
  flex-direction: column;
  /*centralizado*/
  justify-content: center;
  /*comçar sempre da esquerda*/
  align-items: flex-start;
}

.filme-principal .descricao{
  margin-bottom: 40px;
}

.titulo{
  margin-top: ;
  font-size: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao {
  /* efeito de transparencia */
  background-color: rgba(0,0,0,.50);
  border: none;
  color: white;

  padding: 15px 30px;
  margin-right: 15px;
  font-size: 12px;
}